<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin_back.mapper.DataMapper">
    
    <select id="selectCountDataByPrimaryKeys" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM ${excelDto.sqlName}
        WHERE
        <foreach collection="primaryKeys" index="key" item="value" separator=" AND " >
            ${key} = #{value}
        </foreach>
    </select>

    <select id="selectCountDataByUniqueKeys" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM ${excelDto.sqlName}
        WHERE
        <foreach collection="uniqueKeys" index="key" item="value" separator=" AND " >
            ${key} = #{value}
        </foreach>
    </select>
    
<!--    <insert id="insertData">-->
<!--        INSERT INTO #{excelDto.sqlName}-->
<!--        <foreach collection="columnList" item="column" index="index" open="(" separator="," close=")">-->
<!--            #{column}-->
<!--        </foreach>-->
<!--        VALUES-->
<!--        <foreach collection="valueList" item="value" index="index" open="(" separator="," close=")">-->
<!--            #{value}-->
<!--        </foreach>-->
<!--    </insert>-->

    <insert id="insertData">
        INSERT INTO ${excelDto.sqlName}
        <foreach collection="keys" item="key" index="index" open="(" separator="," close=")">
            ${key}
        </foreach>
        VALUES
        <foreach collection="values" item="value" index="index" open="(" separator="," close=")">
            #{value}
        </foreach>
    </insert>
    
    <update id="updateData">
        UPDATE ${excelDto.sqlName}
        SET
        <foreach collection="data" index="key" item="value" separator=",">
            ${key} = #{value}
        </foreach>
        WHERE
        <foreach collection="primaryKeys" index="key" item="value" separator=" AND ">
            ${key} = #{value}
        </foreach>
    </update>

    <select id="getResults" resultType="java.util.Map">
        SELECT
        <foreach collection="columns" item="column" index="index" separator=",">
            ${column}
        </foreach>
        FROM ${sqlTable}
        <if test="conditions.size != 0">
            WHERE
            <foreach collection="conditions" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </if>
    </select>

</mapper>