<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin_back.mapper.SqlMapper">

    <select id="findSqlTableNames" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT `TABLE_NAME`
        FROM `information_schema`.`TABLES`
        WHERE `TABLE_SCHEMA` = #{dataBaseName};
    </select>

    <select id="findSqlColumnNames" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT `COLUMN_NAME`
        FROM `information_schema`.`COLUMNS`
        WHERE `TABLE_SCHEMA` = #{dataBaseName}
          AND `TABLE_NAME` = #{sqlTableName}
    </select>

</mapper>