<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin_back.mapper.SystemMapper">

    <resultMap id="baseMap" type="com.admin.admin_back.pojo.dto.SystemDto">
        <id column="id" property="id" />
        <result column="system_id" property="systemId" />
        <result column="system_name" property="systemName" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_date" property="updatedDate" />
        <result column="status" property="status" />
    </resultMap>

    <select id="findSystemList" resultMap="baseMap">
        SELECT `id`, `system_id`, `system_name`,`created_by`, `created_date`, `updated_by`, `updated_date`, `status`
        FROM `admin_system`
        WHERE `status` = 0
    </select>

    <select id="findSystemBySystemId" resultMap="baseMap" parameterType="java.lang.String">
        SELECT `id`, `system_id`, `system_name`,`created_by`, `created_date`, `updated_by`, `updated_date`, `status`
        FROM `admin_system`
        WHERE `system_id` = #{systemId}
          AND `status` = 0
    </select>

    <select id="findSystemBySystemName" resultMap="baseMap" parameterType="java.lang.String">
        SELECT `id`, `system_id`, `system_name`,`created_by`, `created_date`, `updated_by`, `updated_date`, `status`
        FROM `admin_system`
        WHERE `system_name` = #{systemName}
          AND `status` = 0
    </select>

    <insert id="addSystem" parameterType="com.admin.admin_back.pojo.dto.SystemDto">
        INSERT INTO `admin_system`(`system_id`, `system_name`,`created_by`, `created_date`, `updated_by`, `updated_date`, `status`)
        VALUES (#{system.systemId}, #{system.systemName}, #{system.createdBy}, NOW(), #{system.updatedBy}, NOW(), 0)
    </insert>

    <update id="updateSystemBySystemId" parameterType="com.admin.admin_back.pojo.dto.SystemDto">
        UPDATE `admin_system`
        SET `system_name` = #{system.systemName},
            `updatedBy` = #{system.updatedBy},
            `updated_date` = NOW()
        WHERE `system_id` = #{system.systemId}
    </update>

    <update id="deleteSystemBySystemId" parameterType="com.admin.admin_back.pojo.dto.SystemDto">
        UPDATE `admin_system`
        SET `updated_by` = #{system.updatedBy},
            `updated_date` = NOW(),
            `status` = 1
        WHERE `system_id` = #{system.systemId}
    </update>

</mapper>