<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin_back.mapper.UserRoleMapper">

    <resultMap id="baseMap" type="com.admin.admin_back.pojo.dto.UserRoleDto">
        <id column="id" property="id" />
        <result column="user_no" property="userNo" />
        <result column="role_id" property="roleId" />
        <result column="level" property="level" />
        <result column="user_type" property="userType" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_date" property="updatedDate" />
        <result column="status" property="status" />
    </resultMap>

    <select id="findUnaddedUser" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT `user_no`
        FROM `admin_user`
        WHERE `status` = 0
          AND`user_no` NOT IN (
            SELECT `user_no`
            FROM `admin_user_role`
            WHERE `role_id` = #{roleId}
              AND `status` = 0
        )
    </select>

    <select id="findUserRoleByNo" resultMap="baseMap" parameterType="java.lang.String">
        SELECT `id`, `user_no`, `role_id`, `level`, `user_type`, `created_by`, `created_date`, `updated_by`, `updated_date`, `status`
        FROM `admin_user_role`
        WHERE `user_no` = #{userNo}
          AND `status` = 0
    </select>

    <select id="findUserRoleByRoleId" resultMap="baseMap" parameterType="java.lang.String">
        SELECT `id`, `user_no`, `role_id`, `level`, `user_type`, `created_by`, `created_date`, `updated_by`, `updated_date`, `status`
        FROM `admin_user_role`
        WHERE `role_id` = #{roleId}
          AND `status` = 0
    </select>

    <select id="findUserRoleByUserNoAndRoleId" resultMap="baseMap" parameterType="java.lang.String">
        SELECT `id`, `user_no`, `role_id`, `level`, `user_type`, `created_by`, `created_date`, `updated_by`, `updated_date`, `status`
        FROM `admin_user_role`
        WHERE `user_no` = #{userNo}
          AND `role_id` = #{roleId}
          AND `status` = 0
    </select>

    <insert id="addUserRole" parameterType="com.admin.admin_back.pojo.dto.UserRoleDto">
        INSERT INTO `admin_user_role` (`user_no`, `role_id`, `level`, `user_type`, `created_by`, `created_date`, `updated_by`, `updated_date`, `status`)
        VALUES (#{userRole.userNo}, #{userRole.roleId}, #{userRole.level}, #{userRole.userType}, #{userRole.createdBy}, NOW(), #{userRole.updatedBy}, NOW(), 0)
    </insert>

    <update id="updateUserRole" parameterType="com.admin.admin_back.pojo.dto.UserRoleDto">
        UPDATE `admin_user_role`
        SET `level` = #{userRole.level},
            `updated_by` = #{userRole.updatedBy},
            `updated_date` = NOW()
        WHERE `user_no` = #{userRole.userNo}
          AND `role_id` = #{userRole.roleId}
          AND `status` = 0
    </update>

    <update id="deleteUserRole" parameterType="com.admin.admin_back.pojo.dto.UserRoleDto">
        UPDATE `admin_user_role`
        SET `status` = 1
        WHERE `user_no` = #{userRole.userNo}
          AND `role_id` = #{userRole.roleId}
          AND `status` = 0
    </update>

</mapper>